@import url('color.css');

.container {
    margin-bottom: 30px;
}

.sidebar {
    background-color: #f7f7f7;
    font-size: 1rem;
    padding: 0;
    min-height: 250px;
    border-radius: 10px;
}

.sidebar-list {
    position: relative;
    top: 20px;
}

.sidebar-list li {
    width: 100%;
    padding: 8px 0 8px 20px;
}

.sidebar-list li.active {
    background-color: var(--orange);
    color: var(--light);
}

.sidebar-list li.active i {
    background-color: var(--orange);
    color: var(--light);
}

.sidebar-list li.hover:hover {
    color: var(--orange);
    background-color: var(--gray);
}

.sidebar-list li.hover:hover i {
    color: var(--orange);
    background-color: var(--gray);
}

.sidebar-list li i {
    margin-right: 10px;
    color: var(--dark-gray);
}

.sidebar-list li .num {
    font-size: 0.8rem;
    position: relative;
    right: 0px;
}

.d-user {
    width: 100%;
    padding-top: 20px;
}

.d-user img {
    width: 60px;
    border-radius: 50%;
    margin: 20px;
    height:60px;
    object-fit:cover;
}



#d-follow-content, #d-follow-list, #d-fan-list, #loading {
    display: none;
}

 #loading.active {
        display: flex;
}
    #d-follow-list.active, #d-fan-list.active, #d-follow-content.active {
        display: block;
    }
.d-follow-content-item{
    width:250px;
    display:inline-block;
    margin: 10px 5px;
    height:230px;
}
#d-follow-content .title{
    display:block;
    letter-spacing:0;
    overflow:hidden;
    height:2.8rem;
    line-height:1.4rem;
    font-weight:600;
    font-size:1.05rem;
}
#d-follow-content .author {
margin:0;
}

#d-follow-content .img {
    width: 200px;
    height: 150px;
}
#d-follow-content  .img > img {
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:5px;
}






