
@{
    ViewData["Title"] = "找不到該網頁";
}

<div class="container" style="margin-bottom:50px;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="text-align:center;">
        <img src="~/images/register/notfoud.png" style="margin:20px 0;width:400px;" />
        <h3 style="margin:10px;">喔噢...找不到網頁</h3>
        <button class="btn btn-primary">回首頁</button>
        </div>
        <div class="colo-3"></div>
    </div>
</div>

