
@{
    ViewData["Title"] = "VIP";
}
@section Styles{
<style>
    .d-feature{
        width: 300px;
        display: inline-block;
        margin: 0 200px;
    }
</style>
}

<div style="width:100%;text-align:center;margin-top:30px;"> 
    <img src="~/images/vip/vipbanner.png" style="width:500px;"/>
    <h1 style="text-align:center;font-weight:500;">進階功能隨心用</h1>
    <div>
        <div class="d-feature">
            <img src="~/images/vip/vegetable.png" style="width:100%;" />
            <h3 style="text-align:center;font-weight:500;">看菜價</h3>
        </div>
        <div class="d-feature">
            <img src="~/images/vip/ad-blocker.png" style="width:100%;"/>
            <h3 style="text-align:center;font-weight:500;">零廣告</h3>
        </div>
    </div>
    
</div>
<div style="margin:100px 0;text-align:center">
    <h2 style="text-align:center;font-weight:500;">滿足以下任一條件即可成為大會員</h2>
    <div>
        <div class="d-feature">
            <img src="~/images/vip/viparticle.png" style="width:100%" />
            <h3 style="text-align:center;font-weight:500;">按讚超過十篇文章</h3>

        </div>
        <div class="d-feature">
            <img src="~/images/vip/viplike.png" style="width:100%;"/>
            <h3 style="text-align:center;font-weight:500;">發布三篇以上文章</h3>
        </div>
    </div>
</div>

