@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="Recipe" asp-action="SearchResult" method="get" id="FormSearchInput">
<div class="row" style="margin:20px 0;">  
    <div class="col-2">
        <select class="form-select" id="search-target">
            <option value="1">找食譜</option>
            <option value="2">找作者</option>
        </select>
    </div>
    <div class="col-7">
        <div class="input-group" id="search-input" >
                <input type="text" class="form-control" placeholder="輸入食譜名稱"  id="RecipeName" name="RecipeName">
                <input type="text" class="form-control" placeholder="食材名稱，請以空白隔開"  id="FoodNames" name="FoodNames">
                <button class="btn btn-primary" type="submit" id="button-addon2" disabled><i class=" fa-solid fa-magnifying-glass"></i>  搜尋</button>
        </div>
        <button class="btn-advanced-search" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdvanceSearch" aria-expanded="false" aria-controls="collapseAdvanceSearch">
            進階搜尋▾
        </button>
        <div class="collapse" id="collapseAdvanceSearch">
            <div class="row">
                <div class="col-6">
                    <label for="Amount" class="form-label">份量</label>
                    <select id="Amount" name="Amount" class="form-select">
                        <option value="all">不限</option>
                        <option value="1">1人</option>
                        <option value="2">2人</option>
                        <option value="3">3人</option>
                        <option value="4">4人</option>
                        <option value="5">5人</option>
                        <option value="6">6人</option>
                        <option value="7">7人</option>
                        <option value="8">8人</option>
                        <option value="9">9人</option>
                        <option value="10">10人</option>
                    </select>
                </div>
                <div class="col-6">
                        <label for="CostTime" class="form-label">時間</label>
                        <select id="CostTime" name="CostTime" class="form-select">
                        <option value="all">不限</option>
                        <option value="5">5分鐘</option>
                        <option value="10">10分鐘</option>
                        <option value="15">15分鐘</option>
                        <option value="20">20分鐘</option>
                        <option value="30">30分鐘</option>
                        <option value="45">45分鐘</option>
                        <option value="60">60分鐘</option>
                        <option value="90">90分鐘</option>
                        <option value="120">120分鐘</option>
                        <option value="180+">180+分鐘</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" style="text-align:right;">
        <button class="btn btn-outline-primary"><a asp-controller="Recipe" asp-action="Create">新增食譜</a></button>
    </div>

</div>
</form>
